DATABASE_URL=postgresql://user:password@localhost/nutrifit
SECRET_KEY=SECRET_KEY=dev-secret-key-123456789-nutrifit-local-testing-only
GROQ_API_KEY=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
