DATABASE_URL=postgresql://user:password@localhost/nutrifit
SECRET_KEY=SECRET_KEY=dev-secret-key-123456789-nutrifit-local-testing-only
GROQ_API_KEY=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
